/* Add compatibility with all browsers -moz -webkit, etc... */
* {
    font-weight: 200;
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #607d8b;
}

/* Navigation Bar */
.navbar {
    /* background-color: #607d8b; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #263238 0%, #37474f 55%, #455a64 90%); 
    background-size: 400% 400%;
    animation: grad 20s ease infinite;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar > a {
    flex: 1;
    width: 80%;
    padding: 1rem;
}

.navbar-logo {
    height: 10vh;
}

.navbar-logo-mobile {
    visibility: hidden;
    height: 0;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 5px;
}

.navbar-links {
    background-color: #546e7a;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 70%;
    display: inline-flex;
    border-bottom-left-radius: 1rem;
}

.navbar-links > a {
    flex: 1;
    text-decoration: none;
    font-weight: 400;
    color: #000;
    transition-duration: 0.75s;
}

.navbar-links > a:first-child {
    border-bottom-left-radius: 1rem;
}

.navbar-links > a:hover {
    color: #eee;
    background-color: #263238;
}

.navbar-links > a.active {
    color: #eee;
    background-color: #263238;
}

.navbar-search-container {
    flex: 1;
}

.navbar-search-container form {
    display: flex;
    align-items: stretch;   
}

.navbar-search-container input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
}

.navbar-search-container input[type="text"]:focus {
    border: 3px solid #5e78cc;
}

.navbar-search-container button[type="submit"] {
    cursor: pointer;
    background-color: #5e78cc;
    border: none;
}

/* Main section */
main {
    padding: 0 2rem;
    color: #eeeeee;
    font-size: larger;
}

.bg-img {
    background-image: url(../photos/main_img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

@keyframes grad {
    0%{background-position: 0%}
    25%{background-position: 25%}
    50%{background-position: 75%}
    75%{background-position: 100%}
    100%{background-position: 0%}
}

.header-container {
    display: flex;
    height: calc(90vh - 2rem);
    width: calc(100% + 4rem);
    margin-left: -2rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

@keyframes header {
    0% {
        transform: translateX(-5%);
        opacity: 20%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

.main-content {
    width: 60%;
}

.main-content > h1, .main-content > p {
    color: #eeeeee;
    font-size: xx-large;
}

.main-content > h1 {
    font-weight: 400;
}

.main-content, .main-image {
    animation: header 1.5s 1 ease-in-out;
}

.categorias, .servicios, .marcas {
    margin: 3rem 0;
    text-align: center;
}

/* Productos */
.cat-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 5%;
}

.cat-container > div {
    position: relative;
    border-radius: 5%;
    transition: 0.5s ease-in-out;
}

.cat-container img {
    border-radius: 5%;
}

.cat-container > div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(192, 192, 192, 0.39);
}

.cat-item {
    margin: 1rem 0;
}

/* Servicios */
.servicios-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.servicios-container > div {
    margin: 1rem 0;
    position: relative;
    border-radius: 5%;
    transition: 0.5s ease-in-out;
}

.servicios-container img {
    border-radius: 5%;
}

.servicios-container > div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(192, 192, 192, 0.39);
}

/* Footer */
footer {
    padding: 1rem 2rem;
    background-color: rgba(10, 8, 98, 1);
    color: #eeeeee;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    text-align: center;
}

.footer-container > div {
    width: 20rem;
}

.footer-redes img {
    width: 4rem;
    height: 4rem;
}

.footer-container a {
    color: #aaaaaa;
}
.footer-container hr {
    color: #eeeeee;
}

small {
    display: block;
    text-align: center;
}

/* Mobile version */
@media screen and (max-width: 780px) {
    /* Navigation bar */
    .navbar-logo {
        visibility: hidden;
        height: 0;
        width: 0;
        padding-bottom: 0;
    }
    .navbar-logo-mobile {
        visibility: visible;
        max-width: 4rem;
        max-height: 2rem;
        height: fit-content;
        margin-left: -50%;
        padding-bottom: 0.5rem;
    }
    .navbar-links {
        font-size: x-small;
        line-height: 1rem;
        text-align: -webkit-center;
        vertical-align: middle;
    }
    .navbar-links > a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .material-icons {
        font-size: 100%;
    }
    /* Main section */

    /* Footer */
    .footer-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-redes {
        order: 1;
    }
}